.p1
{
    position:absolute;
    width: 150px;
    height:50px;
    background: rgb(0,0,0);
    top: 50px;
    left: 300px;

}

.p2
{
    position:absolute;
    width: 100px;
    height:50px;
    background: rgb(0,0,0);
    top: 100px;
    left: 200px;

}

.p3
{
    position:absolute;
    width: 50px;
    height:50px;
    background: rgb(0,0,0);
    top: 150px;
    left: 150px;

}

.p4
{
    position:absolute;
    width: 300px;
    height:50px;
    background: rgb(0,0,0);
    top: 200px;
    left: 100px;
   
}

.p5
{
    position:absolute;
    width: 50px;
    height:50px;
    background: rgb(0,0,0);
    top: 250px;
    left: 100px;
 
}

.p6
{
    position:absolute;
    width: 50px;
    height:100px;
    background:rgb(0,0,0);
    top: 300px;
    left: 50px;

}

.p7
{
    position:absolute;
    width: 50px;
    height:350px;
    background: rgb(0,0,0);
    top:400px;
    left:100px;
}

.p8
{
    position:absolute;
    width:100px;
    height:50px;
    background: rgb(0,0,0);
    top: 750px;
    left: 150px;
}

.p9
{
    position:absolute;
    width:50px;
    height:50px;
    background: rgb(0,0,0);
    top: 700px;
    left: 250px;
}

.p10
{
    position:absolute;
    width:200px;
    height:50px;
    background: rgb(0,0,0);
    top: 650px;
    left: 250px;
}

.p11
{
    position:absolute;
    width:50px;
    height:50px;
    background: rgb(0,0,0);
    top: 700px;
    left: 450px;
}

.p12
{
    position:absolute;
    width:50px;
    height:500px;
    background: rgb(0,0,0);
    top:250px;
    left:600px;
}

.p13
{
    position:absolute;
    width:100px;
    height:50px;
    background: rgb(0,0,0);
    top:750px;
    left:500px;
}

.p14
{
    position:absolute;
    width:100px;
    height:50px;
    background: rgb(0,0,0);
    top: 300px;
    left: 650px;
}

.p15
{
    position:absolute;
    width:50px;
    height: 250px;
    background:rgb(0,0,0);
    top: 350px;
    left: 750px;

}

.p16
{
    position:absolute;
    width:100px;
    height:50px;
    background: rgb(0,0,0);
    top: 600px;
    left: 650px;
}

.p17
{
    position:absolute;
    width: 100px;
    height:50px;
    background: rgb(0,0,0);
    top: 100px;
    left: 450px;

}

.p18
{
    position:absolute;
    width: 50px;
    height:100px;
    background: rgb(0,0,0);
    top: 150px;
    left: 550px;
}

.p19
{
    position:absolute;
    width:250px;
    height:50px;
    background:rgb(0,0,0);
    top:450px;
    left:150px;
}

.p20
{
    position:absolute;
    width:50px;
    height:50px;
    background:rgb(0,0,0);
    top:400px;
    left:400px;
}

.p21
{
    position:absolute;
    width:50px;
    height:50px;
    background:rgb(0,0,0);
    top:250px;
    left:400px;
}

.p22
{
    position:absolute;
    width:50px;
    height:100px;
    background:rgb(0,0,0);
    top:300px;
    left:450px;
}

.p23
{
    position: absolute;
    width:150px;
    height: 50px;
    background:rgb(255,0,0);
    top:100px;
    left:300px;
}

.p24
{
    position: absolute;
    width:350px;
    height: 50px;
    background:rgb(255,0,0);
    top:150px;
    left:200px;
}

.p25
{
    position: absolute;
    width:150px;
    height: 50px;
    background:rgb(255,0,0);
    top:200px;
    left:400px;
}

.p26
{
    position:absolute;
    width:150px;
    height: 50px;
    background:rgb(255,0,0);
    top:250px;
    left:450px;
}

.p27
{
    position: absolute;
    width:100px;
    height: 50px;
    background:rgb(255,0,0);
    top:300px;
    left:500px;
}

.p28
{
    position: absolute;
    width:100px;
    height: 50px;
    background:rgb(255,0,0);
    top:350px;
    left:500px;
}

.p29
{
    position: absolute;
    width:100px;
    height: 50px;
    background:rgb(255,0,0);
    top:400px;
    left:450px;
}

.p30
{
    position: absolute;
    width:150px;
    height: 50px;
    background:rgb(255,0,0);
    top:450px;
    left:400px;
}

.p31
{
    position: absolute;
    width:350px;
    height: 50px;
    background:rgb(255,0,0);
    top:500px;
    left:150px;
}

.p32
{
    position: absolute;
    width:250px;
    height: 50px;
    background:rgb(255,0,0);
    top:550px;
    left:200px;
}

.p33
{
    position: absolute;
    width:100px;
    height: 50px;
    background:rgb(255,0,0);
    top:350px;
    left:650px;
}

.p34
{
    position: absolute;
    width:100px;
    height: 50px;
    background:rgb(255,0,0);
    top:400px;
    left:650px;
}

.p35
{
    position: absolute;
    width:50px;
    height: 350px;
    background:rgb(192,0,0);
    top:400px;
    left:550px;
}

.p36
{
    position: absolute;
    width:50px;
    height: 250px;
    background:rgb(192,0,0);
    top:500px;
    left:500px;
}

.p37
{
    position: absolute;
    width:50px;
    height: 150px;
    background:rgb(192,0,0);
    top:450px;
    left:650px;
}

.p38
{
    position: absolute;
    width:50px;
    height: 150px;
    background:rgb(192,0,0);
    top:550px;
    left:450px;
}

.p39
{
    position: absolute;
    width:50px;
    height: 100px;
    background:rgb(192,0,0);
    top:650px;
    left:200px;
}

.p40
{
    position: absolute;
    width:250px;
    height: 50px;
    background:rgb(192,0,0);
    top:600px;
    left:200px;
}

.p41
{
    position: absolute;
    width:50px;
    height: 150px;
    background:rgb(192,0,0);
    top:450px;
    left:650px;
}

.p42
{
    position: absolute;
    width:50px;
    height: 150px;
    background:rgb(192,0,0);
    top:450px;
    left:700px;
}

.p43
{
    position:absolute;
    width: 50px;
    height: 200px;
    background:rgb(192,0,0);
    top: 550px;
    left: 150px;
}

.p44
{
    position: absolute;
    width:50px;
    height: 50px;
    background:rgb(0,176,240);
    top:250px;
    left:150px;
}

.p45
{
    position: absolute;
    width:50px;
    height: 50px;
    background:rgb(0,176,240);
    top:300px;
    left:100px;
}

.p46
{
    position: absolute;
    width:250px;
    height: 50px;
    background:rgb(0,176,240);
    top:350px;
    left:100px;
}

.p47
{
    position: absolute;
    width:100px;
    height: 50px;
    background:rgb(0,176,240);
    top:300px;
    left:300px;
}

.p48
{
    position: absolute;
    width:100px;
    height: 50px;
    background:rgb(0,176,240);
    top:250px;
    left:300px;
}

.p49
{
    position: absolute;
    width:150px;
    height: 50px;
    background:rgb(255,255,255);
    top:300px;
    left:150px;
}

.p50
{
    position: absolute;
    width:100px;
    height: 50px;
    background:rgb(255, 255, 255);
    top:250px;
    left:200px;
}

.p51
{
    position: absolute;
    width:250px;
    height: 50px;
    background:rgb(191,191,191);
    top:400px;
    left:150px;
}

.p52
{
    position: absolute;
    width:100px;
    height: 50px;
    background:rgb(191,191,191);
    top:350px;
    left:350px;
}

.p53
{
    position: absolute;
    width:50px;
    height: 50px;
    background:rgb(191,191,191);
    top:300px;
    left:400px;
}
